body {
    background-color: #262121;
    color: white;
    font-family: sans-serif;
}

code {
    font-size: 20px;
    background-color: #655858;
    padding: 6px;
    border-radius: 4px;
}

.card-container {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    background-color: #3b3333;
    padding: 20px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

button {
    background-color: #655858;
    border: none;
    padding: 8px;
    border-radius: 6px;
}